alembic
annotated-types
anyio
attrs
black
certifi
chardet
click
dataclasses
deprecation
dnspython
email-validator
fastapi
gotrue
h11
httpcore
httptools
httpx
idna
iniconfig
Mako
MarkupSafe
mypy-extensions
packaging
pathspec
phonenumbers
platformdirs
pluggy
postgrest
postgrest-py
psycopg2-binary
py
pydantic
pydantic_core
python-dateutil
python-dotenv
PyYAML
realtime
realtime-py
requests
rfc3986
six
sniffio
SQLAlchemy
starlette
storage3
StrEnum
supabase
supabase-py
supafunc
toml
typing_extensions
urllib3
uvicorn
uvloop
watchfiles
websockets
